@page
@model rh.BackOffice.Pages_Annonces.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Annonce</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Annonce.Id" />
            <div class="form-group">
                <label asp-for="Annonce.Libelle" class="control-label"></label>
                <input asp-for="Annonce.Libelle" class="form-control" />
                <span asp-validation-for="Annonce.Libelle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Annonce.Description" class="control-label"></label>
                <input asp-for="Annonce.Description" class="form-control" />
                <span asp-validation-for="Annonce.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Annonce.CompetenceRequis" class="control-label"></label>
                <input asp-for="Annonce.CompetenceRequis" class="form-control" />
                <span asp-validation-for="Annonce.CompetenceRequis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Annonce.IdTypeContrat" class="control-label"></label>
                <select asp-for="Annonce.IdTypeContrat" class="form-control" asp-items="ViewBag.IdTypeContrat"></select>
                <span asp-validation-for="Annonce.IdTypeContrat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Annonce.IdModeTravail" class="control-label"></label>
                <select asp-for="Annonce.IdModeTravail" class="form-control" asp-items="ViewBag.IdModeTravail"></select>
                <span asp-validation-for="Annonce.IdModeTravail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Annonce.Duree" class="control-label"></label>
                <input asp-for="Annonce.Duree" class="form-control" />
                <span asp-validation-for="Annonce.Duree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Annonce.NbDossierValide" class="control-label"></label>
                <input asp-for="Annonce.NbDossierValide" class="form-control" />
                <span asp-validation-for="Annonce.NbDossierValide" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Annonce.NiveauExperience" class="control-label"></label>
                <input asp-for="Annonce.NiveauExperience" class="form-control" />
                <span asp-validation-for="Annonce.NiveauExperience" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Annonce.Localisation" class="control-label"></label>
                <input asp-for="Annonce.Localisation" class="form-control" />
                <span asp-validation-for="Annonce.Localisation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Annonce.DateFin" class="control-label"></label>
                <input asp-for="Annonce.DateFin" class="form-control" />
                <span asp-validation-for="Annonce.DateFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

